
/* ----------------------------------- A ----------------------------------- */

a img {
  border-width: 0;
}

/* ----------------------------------- B ----------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #888;
}

.main_title{
  /* border-top: 1px solid #73310A; */
  /* border-top: 1px dashed #73310A; */
  border-bottom: 2px solid #73310A;
  /* border-left: 1px solid #73310A; */
  padding: 7px 7px 7px 0;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #73310A;
}

/* done documentation */

.clear {
  clear: both;
  display: block;
  font-size: 1px;
  height: 1px;
  overflow: hidden;
}

pre .code {
	padding: 10px 15px;
	margin: 5px 0 15px;
	border-left: 5px solid #666666;
	background: #222222;
	font: 1em/1.5 "Courier News", monospace;
	color: #bbbbbb;
	overflow : auto;
}

#colTopFooter {
  text-align: right;
  background: #73310a;
  border: 1px solid #73310A;
  border-top-width: 0;
  font-size: .8em;
  /* line-height: 22px; */
  color: #fff;
  padding-right: 5px;
  font-size: 0.8em;
  /* border: 1px solid #73310a; */
  /* background-color: #73310a; */
  /* height: 30px; */
  box-shadow:5px 5px 15px #000;
  -moz-box-shadow:5px 5px 15px #000;
  -webkit-box-shadow:5px 5px 15px #000;
}

#colTopFooter a:link {
  color: #fff;
  text-decoration: none;
}

#colTopFooter a:visited {
  color: #fff;
  text-decoration: none;
}

#colTopFooter a:hover {
  color: #fff;
  text-decoration: underline;
}


.colMain {
  display: block;
  padding: 10px 10px 10px;

}

/* ----------------------------------- F ----------------------------------- */

#footer {
  font-size: .8em;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#footer p a:link, #footer p a:visited {
  color: #00f;
}

form {
  margin: 0;
}


/* ----------------------------------- H ----------------------------------- */

#header {
  background-color: #F0C040;
  position: relative;
  height: 10px;
}

/* ----------------------------------- N ----------------------------------- */

#nav {
  background-color: #9C4210;
  border-top: 1px solid #73310A;
  font-size: .8em;
  line-height: 25px;
  padding-left: 5px;
}

#nav .clear {
  background-color: #73310A;
}

#nav form {
  color: #fff;
  float: right;
  font-size: 1em;
  line-height: normal;
}

#nav form .button,
#nav form .field {
  vertical-align: middle;
}

#nav form .field {
  font-family: inherit;
  font-size: .9em;
  padding-bottom: 0;
  padding-top: 0;
}

#nav form input.field {
  width: 140px;
}

#nav p {
  margin: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
}

.nav li a {
  display: block;
}

.navHorz {
  font-weight: normal;
}

.navHorz li {
  float: left;
  white-space: nowrap;
}

.navHorz li.current {
  background-color: #73310A;
}

.navHorz li a,
.navHorz li .empty {
  border-right: 1px solid #73310A;
  padding: 0 10px;
}

.navHorz li,
.navHorz li a:link,
.navHorz li a:visited {
  color: #fff;
  text-decoration: none;
}

.navHorz li a:active,
.navHorz li a:hover,
.navHorz li a:focus {
  background-color: #9C4210;
  color: #fff;
  text-decoration: none;
}

.navHorz li .empty {
  cursor: default;
}

/* ----------------------------------- T ----------------------------------- */

table { border-style: solid; border: 1px solid #000; }

table.invisible { border-style: none; }

table.site {
	border-collapse: collapse;
	border: solid #000 1px;
	padding: 0px;
}

table.site tr.header {
    background-color:#F2CA5F;
	border: solid #000 1px;
}
table.site td {
    padding: 7px;
}
table.site tr.col1 {
    background-color:#FFFBEF;
}
table.site tr.col2 {
    background-color:#FFF4D6;
}

table tr.col1 {
  background-color:#FFFBEF;
}
table tr.col2 {
  background-color:#FFF4D6;
}


/* ----------------------------------- W ----------------------------------- */

#wrapper {
  background-color: white;
  border-bottom: 1px solid #73310A;
  /* margin: 0 auto; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow:5px 5px 15px #000;
  -moz-box-shadow:5px 5px 15px #000;
  -webkit-box-shadow:5px 5px 15px #000;
  min-height: 500px;
}

.error_message {
  color: #ff0033;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 8px;
}

.info_message {
  color: #00b300;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 8px;
}

.lbl_text {
  color: #002db3;
  font-weight: normal;
}

#map {
  height: 700px;
  width: 100%;
}

/* ----------------------------------- PAGING ----------------------------------- */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0px 10px 0px;
}

.pagination > li {
  display: inline;
}

.disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  border-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.pagination > li > a,
.pagination > li > span {
  border-style: solid;
  border-width: 1px;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 10px;
  position: relative;
  text-decoration: none;
  background-color: #fff;
  color: #627884;
  border-color: #dfe8f1;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f2ca5f;
  border-color: #f2ca5f;
  color: #fff;
  z-index: 2;
  cursor: default;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2b2f33;
  background-color: #fffbef;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}