
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>My daybook</h2>
        <br>
        Go to @Html.ActionLink("login", "Login", "Account") page
    </div>

</div>
