@using DayBook.Web.ViewModels.Account
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="bg-primary panel-body">
    <h4>Log In</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller = "Account" asp-action = "Login"  asp-route-returnurl = "@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
